.convert {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 35%;
    left: 25%;
}

.arabicNb {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
}

.result {
    position: absolute;
    display: none;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 46%;
}
